<!DOCTYPE html>

<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Carbon Dividend Calculator</title>


<head lang="en">
    <meta charset="UTF-8">
    <title>Carbon Dividend Calculator</title>
    <meta charset="utf-8" />
    <title>jQuery Shield UI Demos</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css" />
 -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">

</script>

{% load static %}
  
<script href="{% static 'calc/plot.js' %}"></script>
</head>

<style>
.table {
    border-radius: 5px;
    width: 30%;
    margin: 0px auto;
    float: none;
}
</style>

<body class="theme-light">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="navbar_header">
      <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/calc/" id="navbar-title">Carbon Dividend Calculator</a>
        </div>

        <!-- this div hides the items from the navigation bar for smaller screens -->
          <div id="navbar" class="collapse navbar-collapse">
            <!-- navbar-right -->
              <ul class="nav navbar-nav">
                  <li>
                    <a href="/calc/">Home</a>
                  </li>
                  <li class="active">
                    <a href="/calc/input">Calculator</a>
                  </li>
                  <li>
                    <a href="/calc/about">About</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Carbon Dividend Calculator</h1>
        <p class="lead">Carbon fee and dividend puts a price on carbon and returns the money to households and businesses</p>
    </div>
</header>



<div class="col-md-5">
    <canvas id="myChart" ></canvas>
</div>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


</body>
</html>